#cellInput{
    width: 50px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding: 0px;
    border: 1px solid;
    position: relative;
    z-index: 1;
}
.colorId{
    background-color: #ACD1EE;
}
input{
    color: black;
}
input::selection{
    border: #6CAAD9;
}
input:disabled{
    color: rgb(134, 134, 134);
}

.sudoku-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 4vh;
}
.midSection{
    margin-left: 15vh;
}
table{
    border-collapse: collapse;
    border: 5px solid #6CAAD9;
}
td{
    padding: 0;
}
.bBorder{
    border-bottom: 2px solid #6CAAD9;
}
.rBorder{
    border-right: 2px solid #6CAAD9;
}
input::placeholder{
    font-size: 12px;
    justify-content: space-between;
}
.input-wrapper {
    position: relative;
  }
  .input-wrapper div{
    position: absolute;
    top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  pointer-events: none;
  z-index: 5;
  margin: 2px;
  font-size: 10px;
  color: #6d6c6c;
}
.timer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5vh;
}
.time{
    border: 4px solid #6CAAD9;
    border-radius: 15px;
    height: 10vh;
    width: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6CAAD9;
    background-color: #ACD1EE;
}
.midDot{
    color: #6CAAD9;
    font-size: 5vh;
}
.time-p{
    font-size: 5vh;
}
.newGameBtn{
    height: 8vh;
    width: 50vh;
    border-radius: 10px;
    margin-top: 4vh;
    font-size: 4vh;
    background-color: #6CAAD9;
    color: white;
    border: none;
    font-family: 'Nunito', sans-serif;
}
.newGameBtn:hover{
    background-color: white;
    color: #6CAAD9;
    border: 4px solid #6CAAD9;
}
.iconBtn{
    display: flex;
    flex-direction: column;
    margin-left: 20vh;
}
.iconBtn2{
    /* border: 4px solid #6CAAD9; */
}
.tooltiptext{
    position: absolute;
    margin-left: 2vh;
    font-size: 2vh;
    font-family: 'Nunito', sans-serif;
    color: #6CAAD9;

}